{% extends "base.html" %}

{% block header %}
<header id="article-head">
  <div class="vertical">
    <div class="inner">
      <h2 class="blog-title">
        {{ SITENAME }}
      </h2>
      <h3 class="blog-description">
        {{ SITESUBTITLE }}
      </h3>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
  <section id="content" class="post">
    <h2 class="center-text">Archives for {{ SITENAME }}</h2>
    <dl>
    {% for article in dates %}
      <dt class="long-date">{{ article.locale_date }}</dt>
      <dt class="short-date">{{ article.date.strftime("%d %b %Y") }}</dt>
      <dd><a href='{{ SITEURL }}/{{ article.url }}'>{{ article.title }}</a></dd>
    {% endfor %}
    </dl>
  </section>
{% endblock %}
