<footer class="post-info">
  <span class="label">Date:</span>
  <abbr class="published" title="{{ article.date.isoformat() }}">
        <i class="icon-calendar"></i>{{ article.date.strftime("%d %b %Y") }}
  </abbr>
  {% if categories|length > 1 %}
    <span class="label">Category:</span>
    <a href="{{ SITEURL }}/{{ article.category.url }}"><i class="icon-folder-open"></i>{{ article.category }}</a>
  {% endif %}

  {% if PDF_PROCESSOR %}
    <span class="label">
      <a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">PDF:</a>
    </span>
  {% endif %}

{% include 'taglist.html' %}

{#
{% if article.author %}
<span class="label">By:</span>
<a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
{% endif %}
#}

{% include 'translations.html' %}

</footer>
