{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}

{% block ogmeta %}
  <meta name="description" content="{{ article.summary|striptags }}">
  <meta property="og:title" content="{{ article.title }}" />
  <meta property="og:type" content="blog.post" />
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
  <meta property="og:image" content="{{ SITEURL }}/{{ AVATAR_IMG }}" />
  <meta property="og:description" content="{{ article.summary|striptags }}" />
{% endblock %}

{% block header %}
<header id="article-head">
  <div class="vertical">
    <div class="inner">
      <h2 class="blog-title">
        {{ SITENAME }}
      </h2>
      <h3 class="blog-description">
        {{ SITESUBTITLE }}
      </h3>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<section id="content">
  <article class="post">
    <header>
      <h1 class="post-title">
        <a href="{{ pagename }}"
           rel="bookmark"
           title="Permalink to {{ article.title }}">
          {{ article.title }}
        </a>
      </h1>
    </header>
    <div class="post-meta">
      {% include 'article_infos.html' %}
    </div>
    <section class="post-content">
      {{ article.content }}
    </section>
    <section class="post-footer share">
      <h4>Share this post:</h4>
      <a class="icon-twitter" href="http://twitter.com/share?text={{ article.title|urlencode }}%20via%20@{{TWITTER_USERNAME}}"
         onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
        <span class="hidden">Twitter</span>
      </a>
      <a class="icon-facebook-sign" href="https://www.facebook.com/sharer/sharer.php?u={{ SITEURL }}/{{ article.url }}"
         onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
        <span class="hidden">Facebook</span>
      </a>
    </section>
  </article>
  {% include 'comments.html' %}
</section>
{% endblock %}
