<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ AUTHOR }}">

    {% block ogmeta %}
      <meta name="description" content="{{ DESCRIPTION }}">
      <meta property="og:title" content="{{ SITENAME }}" />
      <meta property="og:description" content="{{ DESCRIPTION }}" />
      <meta property="og:type" content="blog" />
      <meta property="og:url" content="{{ SITEURL }}" />
      <meta property="og:image" content="{{ SITEURL }}/{{ AVATAR_IMG }}" />
    {% endblock %}

    <!-- Styles -->
    {% assets filters="cssmin", output="css/style.%(version)s.min.css", "css/normalize.css", "css/ghostly.css" %}
      <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/pygments.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--  TODO: fav and touch icons -->
    <link rel="shortcut icon" href="{{ SITEURL }}/favicon.ico">
    <link rel="apple-touch-icon" href="{{ SITEURL }}/theme/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ SITEURL }}/theme/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ SITEURL }}/theme/img/apple-touch-icon-114x114.png">

    <link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
    {% if FEED_RSS %}
    <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% block header %}
    {% endblock %}

    <nav class="navbar">
      <!--<a class="brand" href="{{ SITEURL }}/"><strong>{{ SITENAME }}</strong> {% if SITESUBTITLE %} {{ SITESUBTITLE }}{% endif %}</a>-->
      <ul class="navlist">
        {% for title, link in MENUITEMS %}
          <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}

        {% if DISPLAY_PAGES_ON_MENU %}
          {% for page in PAGES %}
            <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
          <li class="divider-vertical"></li>
        {% endif %}

        {% if categories|length > 1 %}
          {% for cat, null in categories %}
            <li {% if cat == category %}class="active"{% endif %}>
              <a href="{{ SITEURL }}/{{ cat.url }}">
                <i class="icon-folder-open icon-large"></i>{{ cat }}
              </a>
            </li>
          {% endfor %}
          <li class="divider-vertical"></li>
        {% endif %}

        <li>
          <div id="tag-menu">
            <ul class="taglist">
              {% for tag in tag_cloud|sort %}
                <li><a href="{{ SITEURL }}/{{ tag.0.url }}"><i class="icon-tag"></i>{{ tag.0 }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <a id="nav-tags" href="{{ SITEURL }}/{{ TAGS_URL }}"><i class="icon-tag"></i>Tags</a>
        </li>
        <li class="divider-vertical"></li>
        <li><a href="{{ SITEURL }}/{{ ARCHIVES_URL }}"><i class="icon-th-list"></i>Archives</a></li>
      </ul>
    </nav>

    <main class="main-content" role="main">
      <div class="content">
        <div class="articles">
            {% block content %}
            {% endblock %}
        </div>
      </div>

      <footer class="site-footer">
        <div class="social-icons">
          <a href="http://twitter.com/{{TWITTER_USERNAME}}" title="Follow" target="_blank">
            <i class="icon-twitter icon-2x"></i>
          </a>
          <a href="{{ GITHUB_URL }}" title="Fork" target="_blank">
            <i class="icon-github icon-2x"></i>
          </a>
          {% if LINKEDIN_URL %}
            <a href="{{ LINKEDIN_URL }}" title="Network" target="_blank">
              <i class="icon-linkedin icon-2x"></i>
            </a>
          {% endif %}
          {% if GOOGLEPLUS_URL %}
            <a href="{{ GOOGLEPLUS_URL }}" title="Circle" target="_blank">
              <i class="icon-google-plus icon-2x"></i>
            </a>
          {% endif %}
          {% if tag %}
            <a href="{{ SITEURL }}/{{ TAG_FEED_ATOM|format(tag) }}" rel="alternate" title="Subscribe" target="_blank">
              <i class="icon-rss icon-2x"></i>
            </a>
          {% else %}
            <a href="{{ SITEURL }}/{{ FEED_ATOM }}" rel="alternate" title="Subscribe" target="_blank">
              <i class="icon-rss icon-2x"></i>
            </a>
          {% endif %}
        </div>
        <address id="about">
          Powered by <a href="http://pelican.notmyidea.org/">Pelican <i class="icon-external-link"></i></a>
          a static site generator, written in <a href="http://python.org">Python <i class="icon-external-link"></i></a>.
        </address>
      </footer>

    </main>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {% assets filters="rjsmin", output="js/pack.min.js", "js/jquery.transit.min.js", "js/ghostly.js" %}
      <script src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
    {% endassets %}
    {% include 'piwik.html' %}
    {% include 'analytics.html' %}
  </body>
</html>
