/* Re-adapted to match mlpack.org website by Ryan Birmingham. */
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 500;
  src: local('Maven Pro Medium'), local('MavenProMedium'), url(css/maven-pro.woff) format('woff');
}

body
{
   background: #000000;
   color: #aaaaaa;
/*   font-family: Andale Mono, Lucidatypewriter, monospace;*/
   font-family: 'Maven Pro', sans-serif;
   font-size: 1.5em;
   text-align: center;
}

a,
a:visited
{
   color: #bb2222;
   text-decoration: none;
   font-weight: bold;
}

a:hover,
a:visited:hover
{
   color: #eab72c;
   text-decoration: none
   font-weight: bold;
}

li a.listlink
{
   color: #ffffff !important;
}

.left-image
{
   float: left;
}

.title
{
   text-align: center;
   padding-left: 100px;
   padding-right: 100px;
   height: 100px;
   vertical-align: center;
}

.right-image
{
   float: right;
}

.titlebar
{
   width: 700px;
   margin: auto;
}

.titlefont
{
/*   padding-top: 0.6em;*/
   color: #ffffff;
   font-weight: bold;
   font-size: 2em;
}

.subtitle
{
   color: #aaaaaa;
   font-size: 1em;
}

.vertical
{
   clear: both;
   min-height: 1em;
}


.and
{
  padding-top: 0.4em;
  font-size: 75%;
  padding-bottom: 0.4em;
  font-style: italic;
}

.articles
{
  height: 560px;
  margin: 0;
  padding: 0;
  display: table;
  text-align: center;
  font-size: 75%;
  margin-left: auto;
  margin-right: auto
}

.post
{
  font-size: 75%;
  background-color: #202020;
  border: 30px solid #101010;
  width: 640px;
  padding: 15px;
  text-align: left;
  margin-bottom: 30px;
}

.site-footer
{
  display: none;
}

font.whitebold
{
  font-weight: bold;
  color: #ffffff;
}

li 
{
  margin-left: 2em;
  font-size: 75%;
  color: #eab72c;
}

li a
{
  color: #eab72c !important;
  font-weight: normal;
}

li a:hover
{
  color: #bb2222 !important;
}

font.released
{
  color: #aaaaaa;
  font-style: italic;
}

.mlnavbar
{
  background-color: #202020;
  border: 30px solid #101010;
  width: 620px;
  padding: 15px;
  padding-left: 35px;
  height: 1em;
}

.mlnavbar .mlnavitem
{
  float: left;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}

.mlnavbar .mlnavsel
{
  float: left;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: bold;
  color: #ffffff;
}

.smallertext
{
  font-size: 75%;
}

h2
{
  font-size: 200%;
  border-bottom: 15px solid #101010;
  font-family: 'Maven Pro', sans-serif;
  line-height: 1.5em;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.code
{
  font-family: monospace, fixed;
  font-size: 75%;
}


.navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: #202020;;
  padding: 5px 0;
  font-size: 1.6rem;
  box-shadow: 0 2px 5px #333;
  text-align: center;
}

.navbar a {
  text-decoration: none;
}

.navlist {
  display: inline;
  list-style: none;
}

.navlist li {
  display: inline;
  padding-right: 15px;
}

.brand strong {
  font-size: 2rem;
  padding-right: 20px;
}

#tag-menu {
  display: none;
  position: absolute;
  top: 2em;
  background-color: #202020;
  transform: translateX(-15px);
}

.taglist {
  position: relative;
  padding: 1em 2em;
  text-align: left;
}

.taglist li {
  display: block;
  padding-right: 15px;
  font-size: 100%;
}

.taglist a {
  text-decoration: none;
}

.short-date{
  display: none;
}

.label{
  color: #ffffff;
  font-weight: bold;
  padding-left: 20px;
}

div.lines { float: right; }
div.irclogchatlines { padding-left: 100px; padding-right: 100px }
